@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:wght@100;400&family=Montserrat:wght@100&family=Pompiere&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;1,8..144,200;1,8..144,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans";
    font-size: 18px;

}
.navbar{
    padding: 0px;
}
.container-fluid {
    background:  #CDA1A7; 
    margin: 0;

    
}
.navbar-brand{
    color: #F8F9D7;

}
body{
    width: 100vw;
    background-color: #CDA1A7;
}
.red{
    width: 50px;
    height: 50px;
    cursor: pointer;
} 

.red a img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#instagram {
    padding-top: 5.2px;
}
#login{ 
    padding-top: 2px;
}
#link {
    padding-bottom: 1.3px;
}
#fb{
    padding-top: 2.3px;
    margin-left: 7px;
}
#nombre{
    display: flex;
    font-size: 20px;
    margin-top: 40px;
}

.portada{
    margin: 0px 30px;
    height: 450px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.portada img{
    max-height:100%;
    width: 100%;
}
.img-thumbnail{
    border-radius: 80%;    
    padding: 0;
    height: 100%;
}

#circle{
    background: url("imageUrl.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 50px;
    left: 40px;
}
.container{
    background-color: #CDA1A7;
    margin-top: -100px;
    height: 100%;
        
}
h2{
    padding: 20px;
}
#edit{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#delete{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.caja {
    background-color: #F8F9D7;
    margin: 10px -97px;
    padding: 20px;

}

